@charset "ISO-8859-1";
#header.full-header #logo{padding-right:0!important;margin-right:0!important;border-right:none!important}
#header.full-header #primary-menu > ul{padding-right:0!important;margin-right:0!important;border-right:none!important}
#content p{font-size:17px;font-weight:300!important}
#content p.fsize14{font-size:14px!important;line-height:1.5!important}
#content p.fsize15{font-size:15px!important;line-height:1.5!important}
.fndfixed{background-attachment:fixed!important;background-repeat:no-repeat!important;background-color:#000!important;background-position:top center!important;-webkit-background-size:cover!important;-moz-background-size:cover!important;-o-background-size:cover!important;background-size:cover!important}
.feature-box.fbox-center.fbox-plain .fbox-icon i{font-size:60px!important}
.feature-box.fbox-bg.fbox-center .fbox-icon{top:-30px!important}
.footer-logo{margin-bottom:0}
.feature-box.fbox-center .fbox-icon i{font-size:32px;line-height:73px}
.feature-box.fbox-center .fbox-icon{width:73px;height:73px}
.redes{float:right!important}
.colorgrey{color:#404041!important}
.toppadding-lg{padding-top:70px!important}
.bottompadding-lg{padding-bottom:70px!important}
.selector-idioma{width:100%;z-index:9999;position:absolute;top:0}
.slider-logo{z-index:9999;position:absolute;display:flex;justify-content:center}
.slider-logo img{opacity:1}
.idioma{margin:auto;width:100px;background-color:rgba(20,50,88,0.5);color:#FFF;padding:10px;text-align:center;float:right}
.idioma a{color:#ececec;cursor:pointer}
.idioma a:hover{color:#FFF;border-bottom:1px #FFF dotted;transition:all 1s ease}
.dark .one-page-arrow,.one-page-arrow.dark{color:#0c5f97}
.dark .one-page-arrow:hover,.one-page-arrow.dark:hover{color:#0e76bc}
.contredes{width:480px!important}
.puzzle{background-image:url(img/vision-fnd.png);background-repeat:no-repeat;background-position:center top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
h1.spantipe{text-transform:none;font-weight:300;font-size:28px;font-family:Lato,sans-serif;letter-spacing:0}
.usamap{margin-top:-35px}
.dark .feature-box h3{color:#EEE}
.dark .feature-box p{color:#EEE}
.itemscont .feature-box .fbox-icon i{background-color:#EEE}
.itemscont .feature-box .fbox-icon a, .itemscont .feature-box .fbox-icon i{color:#0b609c}
.dark .itemscont .fbox-effect .fbox-icon i:hover, .dark .itemscont .fbox-effect:hover .fbox-icon i{background-color:#FFF}
.dark .itemscont .fbox-effect .fbox-icon i:after {box-shadow:0 0 0 2px #FFF}
h3.setus{font-size:19px;font-weight:600;line-height:1.3}
.toggle.toggle-border .togglet, .toggle.toggle-border .toggleta{padding:10px 15px 10px;color:#FFF;text-transform:uppercase;text-align:center}
.toggle.toggle-border{border:none;border-radius:0}
.toggle.toggle-border .togglec{padding: 10px 30px 40px;font-size:15px; overflow:hidden}
#more{display:none}
#slider {display:flex;flex-direction:column;align-items:center;justify-content:center}
.slider-caption h2{font-size:55px;line-height:1.2}
.dark .slider-caption h2{color:#0864a0;text-shadow:none}
.slider-caption p{color:#666666;text-shadow:none}
a.botonareas{background-color:#0d76bd;color:#FFF;padding:20px;width:100%;display:block;border-radius:3px;font-family:'Lato',sans-serif;line-height:1.3;font-weight:300;font-size:18px;text-align:center;transition: all .2s ease-in-out;height:90px;display:flex;justify-content:center;align-items:center;cursor:pointer}
a.botonareas:hover{background-color:#444}
.team-image a{transition: all .2s ease-in-out}
.team-image a:hover{opacity:0.7;cursor:pointer}
.foot{display:flex;flex-direction:column;align-items:center}
/*Flipcard*/
.flip-card{background-color:transparent;width:100%;height:150px;perspective:1000px}
.flip-card h3{font-family:'Lato',sans-serif;color:#FFF;line-height:1.3;font-weight:300;font-size:20px;margin-bottom:0}
.flip-card h4{font-family:'Lato',sans-serif;color:#FFF;line-height:1.3;font-weight:300;font-size:17px;margin-bottom:15px}
.flip-card-inner{position:relative;width:100%;height:100%;text-align:center;transition:transform .6s;transform-style:preserve-3d}
.flip-card:hover .flip-card-inner{transform:rotateY(180deg)}
.flip-card-front,.flip-card-back{position:absolute;width:100%;height:100%;-webkit-backface-visibility:hidden;backface-visibility:hidden}
.flip-card-front{background-color:#0d76bd;color:#000}
.flip-card-back{background-color:#06456f;color:#fff;transform:rotateY(180deg);background-size:cover;background-position:center center}
.flip-card-back .button.button-border{border:1px solid #FFF;color:#FFF;font-size:11px;background-color:rgba(0,0,0,0.4)}
.flip-card-back .button.button-border:hover{border:1px solid #FFF;color:#FFF;background-color:#0d76bd}
.flip-card-front, .flip-card-back{display:flex;flex-direction:column;justify-content:center;border-radius:3px;padding:30px}
.flip-card .area-a{background-image:url(images/areas/d-publico.jpg)}
.flip-card .area-b{background-image:url(images/areas/d-comercial.jpg)}
.flip-card .area-c{background-image:url(images/areas/d-asuntos.jpg)}
.flip-card .area-d{background-image:url(images/areas/d-familia.jpg)}
.flip-card .area-e{background-image:url(images/areas/d-realstate.jpg)}
.flip-card .area-f{background-image:url(images/areas/d-azar.jpg)}
.flip-card .area-g{background-image:url(images/areas/d-arbitraje.jpg)}
/*Modal*/
.modal-body p{line-height:1.5!important;max-height:520px;overflow:auto;margin:0;padding:20px 30px 30px}
.modal-title{font-family:'Cinzel',sans-serif;text-align:center;font-weight:300;font-size:22px;color:#FFF}
.modal-header{background-color:#0d76bd}
.modal-header .close{margin-top:4px}
.close{color:#FFF;text-shadow:none;opacity:0.8;font-weight:normal}
.cv .modal-title span{color:#75c7ff;font-style:italic;font-family:'Crete Round',serif;font-size:19px;display:block}
.cv img.fotocv{height:200px;margin:0 20px 20px 0;border-radius:5px}
.cv strong.subtitulo{font-size:18px}
/*Members*/
.rowmembers{display:flex}
/*Map*/
.fluid-width-video-wrapper iframe{height:400px!important}
.fluid-width-video-wrapper{padding-top:400px!important}
/*Form*/
#template-contactform .col_one_third{width:32.73%;margin-right:0.9%}
#template-contactform .col_two_third{width:66.3%;margin-right:0.9%}
#template-contactform .col_one_third,#template-contactform .col_two_third,#template-contactform .col_full{margin-bottom:10px}
}
@media (max-width: 1100px) {
#primary-menu ul li>a{padding:39px 10px;font-size:12px}
}
@media (max-width: 991px) {
.marginipad{margin-top:128px}
.wwd{height:auto!important;text-align:center}
#primary-menu ul li>a{font-size:13px}
.rowmembers{flex-wrap:wrap}
}
@media (max-width: 767px) {
#header{display:none!important}
.contredes{width:310px!important}
#content p.fsize14{display:none!important}
.itemscont{overflow:hidden;padding:10px;margin-bottom:0!important}
.feature-box.fbox-center .item{width:50px;height:50px;margin-bottom:0!important}
.feature-box.fbox-center .item i{font-size:25px;line-height:50px}
.itemscont .feature-box h3{padding-top:10px;margin:0}
.separadoritem{margin-bottom:0!important}
.puzzle{margin-top:0!important}
.marginipad{margin-top:0!important}
h1.spantipe{font-size:22px}
.heading-block h2+span{font-size:22px}
.dark .feature-box p{margin-bottom:30px}
.torta{max-width:50%!important}
.col_one_third,.col_one_fourth{margin-bottom:20px!important}
.slider-logo img{width:55%}
.team-image{display:flex;justify-content:center}
.team-image img{width:70%}
.flip-card h3{font-size:18px}
.flip-card h4{;font-size:15px;margin-bottom:5px}
.flip-card-front, .flip-card-back{padding:5px 20px}
.flip-card{height:90px}
.heading-block{margin-bottom:35px!important}
}
@media (max-width: 479px) {
#header{display:none!important}
.content-wrap{padding:60px 0 0!important}
.itemscont .feature-box h3{text-align:center!important;margin-left:0!important;width:100%;padding-top:0;margin-top:10px}
h1.spantipe{font-size:19px}
.heading-block h2+span{font-size:19px}
.heading-block h2{font-size:24px}
.toggle.toggle-border .togglet, .toggle.toggle-border .toggleta{padding:10px 35px 10px!important;line-height:1.5!important}
.toggle .togglet, .toggle .toggleta{font-size:16px!important}
.toggle .togglet i{top:0px!important}
.modal-title{font-size:17px}
.modal-header .close{margin-top:0}
.modal-body p {height:450px;font-size:15px!important;padding:10px 20px 20px 10px}
.rowmembers{flex-direction:column;flex-wrap:no-wrap}
.heading-block{margin-bottom:45px!important}
}